#![enable(implicit_some)]
Prefab(
    entities: [
        // BulletImpact
        PrefabEntity(
            data: AnimationPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("textures/pincer.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
                                    normalized: true,
                                ),
                            ),
                        )),
                        sprites: [
                            List((
                                texture_width: 342,
                                texture_height: 90,
                                sprites: [
                                    // Idle
                                    (x: 4, y: 15, width: 42, height: 30), // 1
                                    (x: 52, y: 15, width: 42, height: 30), // 2
                                    (x: 100, y: 15, width: 42, height: 30), // 3
                                    (x: 148, y: 15, width: 42, height: 30), // 4
                                    // Walk
                                    (x: 10, y: 56, width: 45, height: 30), // 5
                                    (x: 66, y: 56, width: 45, height: 30), // 6
                                    (x: 122, y: 56, width: 45, height: 30), // 7
                                    (x: 178, y: 56, width: 45, height: 30), // 8
                                    (x: 234, y: 56, width: 45, height: 30), // 9
                                    (x: 290, y: 56, width: 45, height: 30), // 10
                                ],
                            )),
                        ],
                        // optional
                        name: "pincer",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "pincer",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.2, 0.4, 0.6],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Walk,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [4, 5, 6, 7, 8, 9],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)