List((
    texture_width: 224,
    texture_height: 192,
    sprites: [
        // (x: 0, y: 0, width: 16, height: 192),
        (x: 32, y: 16, width: 64, height: 80), // 0
        (x: 32, y: 16, width: 32, height: 16), // 1 (plane top)
        (x: 32, y: 32, width: 32, height: 16), // 2 (hollow bottom)
        (x: 112, y: 16, width: 96, height: 80), // 3
        (x: 32, y: 96, width: 64, height: 80), // 4
        (x: 32, y: 96, width: 32, height: 32), // 5 (top with lichens)
        (x: 32, y: 128, width: 32, height: 32), // 6 (bottom with lichens)
        (x: 64, y: 128, width: 32, height: 16), // 7 (solid bottom)
        (x: 64, y: 144, width: 32, height: 16), // 8 (ladder top)
        (x: 64, y: 160, width: 32, height: 16), // 9 (ladder bottom)
        (x: 112, y: 96, width: 96, height: 64), // 10
        (x: 112, y: 112, width: 32, height: 16), // 11 (bottom with notch)
        (x: 112, y: 80, width: 16, height: 16), // 12 (left rope bottom)
        (x: 192, y: 80, width: 16, height: 16), // 13 (right rope bottom)
    ],
))
