(
    texture_width: 224,
    texture_height: 192,
    sprites: [
        // (x: 0, y: 0, width: 16, height: 192),
        (x: 32, y: 16, width: 64, height: 80), // 1
        (x: 112, y: 16, width: 96, height: 80), // 2
        (x: 32, y: 96, width: 64, height: 80), // 3
        (x: 112, y: 96, width: 96, height: 64), // 4
    ],
)
